<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8M2X83756E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8M2X83756E');
  </script>
</head>
<mat-card>
  <mat-card-title style="color: black">Crédito actualizado:</mat-card-title>
  <mat-card-subtitle style="text-align: center; margin: 5%; color: orange; font-size: 35px; margin-top: 30px;">S/.{{data.wallet}}</mat-card-subtitle>
  <button md-raised-button matDialogClose style="background-color: #231e1e; color: aliceblue; width: 120px; height: 40px; font-size: medium; margin-left: 20%; margin-top: 10px;" (click)="goTo()" >
  Confirmar
  </button>
</mat-card>
