<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8M2X83756E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8M2X83756E');
  </script>
</head>
<div class="main-div">
  <mat-card class="mat-card" style="margin-right: 60%; width: 600px;height: 400;">
    <mat-card-title style="margin-top: 3%;">INICIAR SESIÓN</mat-card-title>
    <form [formGroup]="form">
      <div class="container" style="margin-top: 10%">
        <mat-form-field>
          <input matInput placeholder="Ingrese su emial" formControlName="email">
        </mat-form-field>
        <div class ="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div class="container-error-message" *ngIf="email.errors.required">
            Email valido requerido
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 10%">
        <mat-form-field>
          <input matInput type="password" placeholder="Ingrese su password" formControlName="password">
        </mat-form-field>
        <div class ="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="container-error-message" *ngIf="password.errors.required">
            Contraseña valida requerida
          </div>
        </div>
      </div>
    </form>
    <mat-card-footer>
      <button mat-raised-button class="button-footer" color="primary" style="background-color: #231e1e" (click)="Validation()">Aceptar</button>
      <button mat-raised-button class="button-footer" color="primary" style="background-color: #231e1e">Cancelar</button>
    </mat-card-footer>
  </mat-card>
</div>
