<div class="div-main">
  <mat-card class="card-condiciones" style="margin-left: 10%;margin-right: 10%;margin-top: 20px;margin-left: 10%;">
    <mat-card-title  style="text-align: center">Términos y Condiciones</mat-card-title>
    <mat-card-subtitle style="font-size: 20px; margin-top: 2%"><strong>
      Reglamento de las tarjetas de crédito y débito
      (Resolución SBS N° 6523-2013):
    </strong></mat-card-subtitle>
    <mat-card-subtitle style="font-size: 18px; margin-top: 2%"><strong>
      Aspectos generales
      Capítulo 1
    </strong></mat-card-subtitle>
    <mat-card-content class="content"><strong>Artículo 3°.- Tarjeta de crédito</strong>
      <br>
      La tarjeta de crédito es un instrumento que permite,de acuerdo con lo pactado entre la empresa emisora y el titular, realizar operaciones con cargo a una línea de crédito revolvente, otorgada por la empresa emisora a favor del titular. Con esta tarjeta, el usuario puede adquirir bienes o servicios en los establecimientos afiliados que los proveen,pagar obligaciones o, de así permitirlo la empresa emisora y no mediar renuncia expresa por parte del titular, hacer uso del servicio de disposición de efectivo u otros servicios asociados, dentro de los límites y condiciones pactados;obligándose a su vez, a pagar el importe de los bienes y servicios adquiridos, obligaciones pagadas, y demás cargos,conforme a lo establecido en el respectivo contrato.
    </mat-card-content>
    <mat-card-subtitle style="font-size: 18px; margin-top: 2%"><strong>
      Disposiciones generales aplicables
      Capítulo 2
    </strong></mat-card-subtitle>
    <mat-card-content class="content"><strong>Artículo 5°.- Contenido mínimo del contrato. </strong>
      <br>
      El contrato de tarjeta de crédito deberá contener, como mínimo, la siguiente información:
     <mat-list>
       <mat-list-item>1.	Las condiciones aplicables para la reducción o aumento de la línea de crédito y los mecanismos aplicables para requerir el consentimiento previo del usuario en caso se busque realizar un aumento de la línea conforme lo dispone el artículo 30° del Reglamento de transparencia,cuando corresponda.</mat-list-item>
       <mat-list-item>2.	Forma y medios de pago permitidos.</mat-list-item>
       <mat-list-item>3.	Procedimientos y responsabilidades de las partes en caso de extravío de la tarjeta de crédito o de la sustracción,robo o hurto de esta o la información que contiene.</mat-list-item>
       <mat-list-item>4.	Casos en los que procede el bloqueo o anulación de la tarjeta de crédito y la resolución del contrato.</mat-list-item>
       <mat-list-item>5.	Condiciones aplicables a la renovación del contrato,de ser el caso.</mat-list-item>
       <mat-list-item>6.	Periodicidad con la que se pondrá a disposición o entregará los estados de cuenta.</mat-list-item>
       <mat-list-item>7.	A nombre de quién se emitirán los estados de cuenta,titular o usuario, de ser el caso.</mat-list-item>
       <mat-list-item>8.	Condiciones de emisión y remisión o puesta a disposición, según corresponda, del estado de cuenta en forma física o electrónica y plazo de aceptación del estado de cuenta.</mat-list-item>
       <mat-list-item>9.	El orden de imputación aplicable para el pago de la línea de crédito deberá ser claro y no podrá conllevar un agravamiento desproporcionado del monto adeudado, salvo que la empresa acredite la existencia efectiva de negociación e informe adecuadamente al titular en documento aparte sobre las consecuencias e implicancias económicas de la regla de imputación de pagos negociada.</mat-list-item>
     </mat-list>
    </mat-card-content>
    <mat-card-content class="content"><strong>Artículo 7°.- Servicios asociados a las tarjetas de crédito</strong> <br>
      Las empresas, en función a sus políticas internas, darán a los titulares la posibilidad de hacer uso de uno o más de los siguientes servicios:
      <mat-list>
        <mat-list-item>1.	Disposición de efectivo: Deberá otorgarle la posibilidad, para cada operación, de decidir si estas disposiciones deberán ser cargadas en cuotas fijas mensuales y el número de cuotas aplicable a estas.</mat-list-item>
        <mat-list-item>2.	Operaciones de compra, consumos o pagos por internet, a través de una página web distinta a la de la empresa.</mat-list-item>
        <mat-list-item>3.	Consumos u operaciones efectuadas en el exterior,con presencia física de la tarjeta.</mat-list-item>
        <mat-list-item>4.	Otras previstas por la empresa en los contratos.</mat-list-item>

      </mat-list>
    </mat-card-content>
    <mat-card-content class="content"><strong>Artículo 9°.- Cargos</strong>
      Las empresas cargarán el importe de los bienes,servicios y obligaciones que el usuario de la tarjeta de crédito adquiera o pague utilizándose, de acuerdo con las órdenes de pago que este suscriba o autorice; el monto empleado como consecuencia del uso de alguno de los servicios descritos en el artículo 7° del Reglamento, en caso corresponda; así como las demás obligaciones señaladas en el contrato de tarjeta de crédito, conforme a la legislación vigente sobre la materia.Las órdenes de pago y firmas podrán ser sustituidos por autorizaciones a través de medios electrónicos y/o firmas electrónicas sujetas a verificación por las empresas,entidades que esta designe o por las entidades acreditadas para tal efecto, conforme al marco normativo aplicable,así como por autorizaciones expresas y previamente concedidas por el titular de la tarjeta de crédito.
    </mat-card-content>
    <mat-card-content class="content">
      <strong>  Artículo 11°.- Puesta a disposición o envío y recepción del estado de cuenta y procedimiento de reclamos </strong>
      Las empresas deberán remitir o poner a disposición de los titulares de tarjetas de crédito el estado de cuenta por lo menos mensualmente. Para tal efecto, deberán otorgará los titulares la posibilidad de elegir la recepción de la mencionada información a través de uno o ambos de los mecanismos señalados a continuación:1. Medios físicos (remisión al domicilio señalado por el titular).2. Medios electrónicos (por medio de la presentación de dicha información a través de la página web, correo electrónico, entre otros).
    </mat-card-content>
  </mat-card>
</div>
