<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8M2X83756E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8M2X83756E');
  </script>
</head>
<div style="text-align: center">
  <h1>El crédito no es suficiente para realizar la compra</h1>
  <button mat-raised-button color="primary" style="margin: 2%; background-color: #231e1e" matDialogClose (click)="GotoBack()">
    ¡Entendido!
  </button>
</div>
