<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8M2X83756E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8M2X83756E');
  </script>
</head>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]=customers>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond; font-size: large" > Nombres  </th>
      <td mat-cell *matCellDef="let customer" (click)="view(customer.id)" style="text-align: center; font-size: medium "> {{customer.name}}</td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond; font-size: large"> Apellidos </th>
      <td mat-cell *matCellDef="let customer" (click)="view(customer.id)" style="text-align: center; font-size: medium"> {{customer.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="wallet">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Crédito </th>
      <td mat-cell *matCellDef="let customer" (click)="view(customer.id)" style="text-align: center; font-size: medium"> {{customer.wallet.toFixed(2)}} </td>
    </ng-container>
    <ng-container matColumnDef="initialdate" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Fecha de inicio </th>
      <td mat-cell *matCellDef="let customer" (click)="view(customer.id)" style="text-align: center; font-size: medium">
      <span *ngIf="customer.initialdate === null">  Sin fecha de inicio </span>
        <span *ngIf="customer.initialdate !== null">  {{customer.initialdate | date: 'shortDate'}} </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="endingdate">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Fecha Final </th>
      <td mat-cell *matCellDef="let customer" (click)="view(customer.id)" style="text-align: center; font-size: medium">
       <span *ngIf="customer.endingdate === null"> Sin fecha de Facturación </span>
        <span *ngIf="customer.endingdate !== null"> {{customer.endingdate | date: 'shortDate'}} </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Deuda Pendiente</th>
      <td mat-cell *matCellDef="let customer" (click)="view(customer.id)" style="text-align: center; font-size: medium"> {{customer.stock.toFixed(2)}} </td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Cancelar Deuda </th>
      <td mat-cell *matCellDef="let customer" (click)="open(customer.id)" style="text-align: center; font-size: medium"><button mat-raised-button color="primary" style="background-color: #231e1e">
        <span class="material-icons">
        payment
        </span></button></td>
    </ng-container>
    <ng-container matColumnDef="buttom">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Compra </th>
      <td mat-cell *matCellDef="let customer" (click)="buy(customer.id)" style="text-align: center; font-size: medium"> <button mat-raised-button color="primary" style="background-color: #231e1e">
        <span class="material-icons">
        add_shopping_cart
        </span></button></td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Editar Cliente</th>
      <td mat-cell *matCellDef="let customer" (click)="edit(customer.id)" style="text-align: center"> <button mat-raised-button color="primary" style="background-color: #231e1e">
        <span class="material-icons">
        settings
        </span></button></td>
      </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background-color: #231e1e; color: blanchedalmond;font-size: large"> Eliminar </th>
      <td mat-cell *matCellDef="let customer" (click)="delete(customer.id)" style="text-align: center; font-size: medium"> <button mat-raised-button color="primary" style="background-color: #231e1e">
        <span class="material-icons">
        delete_forever
        </span></button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
